* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/**** Font ****/

p, span {
    font-family: MyriadProRegular;
    font-size: 11.9pt;
}

h1, h2, h3 {
    font-family: MyriadProBold;
    text-transform: uppercase;
}

b {
    font-family: MyriadProBold;
    line-height: 95%;
}

/**** Layout ****/

.container {
    margin: 0 auto;
    max-width: 1280px;
    min-width: 400px;
    position: relative;
    padding: 0;
}

.left-column, .right-column {
    float: none;
    width: 100%;
    padding: 35px;
    margin: 0;
}

.left-column {
    padding-top: 46px;
}

section {
    position: relative;
    margin-bottom: 48px;
}

.left-column section {
    padding-right: 10px;
}

.right-column section {
    margin-bottom: 56px;
}

@media(min-width: 800px) {
    .left-column {
        display: inline-block;
        float: left;
        width: 400px;
    }
    .right-column {
        float: none;
        width: auto;
        margin-left: 400px;
    }
}

@media(min-width: 1050px) {
    .container {
        padding: 0 25px;
    }

    .left-column {
        float: left;
        width: 41%;
    }
    .right-column {
        float: right;
        width: 59%;
        margin: 0;
    }
}


/**** Section title ****/

.title {
    vertical-align: middle;
    position: relative;
    background: linear-gradient(to bottom, #ffffff 45%, #3d6cb0 45%, #3d6cb0 52%, #ffffff 52%);
    margin-bottom: 32px;
}

.title h1 {
    font-size: 32pt;
    color: #3d6cb0;
    display: inline-block;
    line-height: 75px;
    margin-left: 75px;
    padding: 0 7px 0 10px;
    background-color: white;
}

.right-column .title h1 {
    padding-left: 21px;
}

.profile .title {
    margin-bottom: 12px;
}

.title .icon{
    width: 50px;
    height: 50px;
    margin: auto;
    margin-top: 12.5px;
    background-image: url("../img/icon.png");
    background-repeat: no-repeat;
}

.title .icon-mask {
    width: 75px;
    height: 75px;
    background-size: contain;
    background-color: #3d6cb0;
}

.title .icon-profile {
    background-image: url("../img/icon.png");
    background-repeat: no-repeat;
}

.title .icon-contact {
    background-position: -50px -50px;
}

.title .icon-skills {
    background-position: -100px -50px;
}

.title .icon-education {
    background-position: -100px 0px;
}

.title .icon-experience {
    background-position: 0px -50px;
}

.title .icon-software {
    background-position: -50px 0px;
}

/**** Face ****/

section.face {
    margin-bottom: 79px;
}

.face {
    text-align: center;
}
.face .photo {
    position: relative;
    width: 245px;
    height: 245px;
    top: 0;
    margin: 0 auto;
    margin-bottom: 30px;
    background-color: #3d6cb0;
}

div[class$="-mask"] {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    width: 245px;
    height: 245px;
    background-image: url("../img/photo-mask.svg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    outline: 0;
    transition: transform 0.6s ease-out;
    transform: scale(1);
}

.face .photo:hover .photo-mask {
    transform: scale(1.07);
}


.face h1 {
    font-family: MyriadProLightSemiExt;
    font-size: 39.8pt;
    line-height: 40pt;
    margin-bottom: 5px;
}

.face h1 b {
    font-size: 47.9pt;
    line-height: 80%;
}

.face h2 {
    font-size: 18pt;
}

/**** Contact ****/

.contact h2 {
    display: inline-block;
    color: #3d6cb0;
    width: 133px;
    font-size: 16pt;
}

.contact span {
    font-size: 16pt;
}

.contact .contact-row {
    margin-bottom: 30px;
}

/**** Skills ****/

.skills .title {
    margin-bottom: 24px;
}

.skills article {
    text-align: center;
}

.skills h2 {
    font-family: MyriadProRegular;
    font-size: 19.5pt;
    margin-top: 15px;
}

.skills .progress-bar {
    position: relative;
    height: 28px;
    width: 336px;
    margin: 0 auto;
    margin-top: 3.5px;
    background-color: #e6e6e6;
}

.skills .progress-bar::after {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    content: "";
    height: 28px;
    width: 336px;
    z-index: 10;
    background-image: url("../img/p-bar-circle-mask.svg");
    background-repeat: repeat-x;
}

.skills .progress {
    height: 28px;
    background-color: #3d6cb0;
}

.skills .progress-creative {
    width: 75%;
}

.skills .progress-teamwork {
    width: 92%;
}

.skills .progress-innovate {
    width: 50%;
}

.skills .progress-communication {
    width: 92%;
}

/**** Education + Experience ****/

.education ul {
    padding-left: 11px;
    list-style: none;
}

.education li {
    padding-left: 43px;
    background: url("../img/bullet.svg") no-repeat left 5px;
    margin-top: 14px;
}

.education .title {
    margin-bottom: 27px;
}

.education h2, h3 {
    display: inline-block;
}

.education h2 {
    font-size: 20pt;
    color: #3d6cb0;
    margin-right: 10px;
}

.education h3 {
    font-family: MyriadProRegular;
    font-size: 20pt;
    text-transform: none;
}

.education p {
    margin-top: 5px;
}

.experience .title {
    margin-bottom: 41px;
}

/**** Software ****/

.software .title {
    margin-bottom: 25px;
}

.software article {
    padding-left: 7px;
    padding-right: 6px;
    margin-bottom: 21px;
    text-align: center;
}

.software h2 {
    font-family: MyriadProRegular;
    font-size: 19.5pt;
    margin-bottom: 13px;
}

.software .progress-bar {
    position: relative;
    height: 24px;
    width: 286px;
    margin: 0 auto;
    margin-top: 3.5px;
    background-color: #e6e6e6;
}

.software .progress {
    height: 24px;
    background-color: #3d6cb0;
}

@media(min-width: 695px) {
    .software article {
        text-align: left;
    }

    .software article:nth-child(2n-1) {
        float: right;
    }

    .software article:nth-child(2n) {
        float: left;
    }
}

@media(min-width: 800px) {
    .software article {
        text-align: center;
    }

    .software article:nth-child(2n-1) {
        float: none;
    }

    .software article:nth-child(2n) {
        float: none;
    }
}

@media(min-width: 1220px) {
    .software article {
        text-align: left;
    }

    .software article:nth-child(2n-1) {
        float: right;
    }

    .software article:nth-child(2n) {
        float: left;
    }
}

.software .progress-photoshop {
    width: 90%;
}

.software .progress-illustrator {
    width: 70%;
}

.software .progress-indesign {
    width: 55%;
}

.software .progress-dreamweaver {
    width: 80%;
}

.software .progress-after_effects {
    width: 60%;
}

.software .progress-html_css3 {
    width: 90%;
}


