mixin education(profession, date, university)
  .education
    .education__marker
    .education__title
      span.education__profession #{profession}
      span.education__date // #{date}
      span.education__university #{university}
      .education__content
        block