.education
  position relative
  margin-top 1.7%

  &:first-child
    margin-top 4%

  &__marker
    position absolute
    top 0
    left 0
    margin-left 1.85%
    margin-top 0.54rem
    max-width 5%
    width 1.35rem
    border-radius 50%
    background-color black

    &:before
      content ""
      display block
      padding-top 100%

  &__title
    margin-left 8.3%

  &__content
    margin-top 1%

  &__profession
  &__date
  &__university
    display inline-block
    font-size 1.75rem
    line-height 2.3rem
    margin-right 3%

  &__profession
  &__university
    text-transform uppercase

  &__profession
    font-family MyriadProBold
    color main_color