.education
  position relative
  margin-top 1.7%

.education:first-child
  margin-top 4%

.education__marker
  position absolute
  top 0
  left 0
  margin-left 1.85%
  margin-top 0.54rem
  max-width 5%
  width 1.35rem
  border-radius 50%
  background-color black

.education__marker:before
  content ""
  display block
  padding-top 100%

.education__title
  margin-left 8.3%

.education__content
  margin-top 1%

.education__profession
.education__date
.education__university
  display inline-block
  font-size 1.75rem
  line-height 2.3rem
  margin-right 3%

.education__profession
.education__university
  text-transform uppercase

.education__profession
  font-family MyriadProBold
  color #3d6cb0