//-
  options.name -
  options.surname -
  options.profession -

mixin name(options)
  if !options
    - options = {}

  .name
    .name__photo-frame
      .name__photo
    .name-info
      .name-info__name= options.name || ''
      .name-info__surname= options.surname || ''
      .name-info__profession= options.profession || ''