mixin name(name, surname, profession)
  .name
    .name__photo-frame
      .name__photo
    .name-info
      span.name-info__name #{name}
      span.name-info__surname #{surname}
      span.name-info__profession #{profession}