include blocks/name/name
include blocks/article/article
include blocks/contact/contact
include blocks/skill/skill
include blocks/experience/experience
include blocks/software/software

html
  head
    title Resume
  body
    include  blocks/layout/layout
      include blocks/layout/layout__left-column
        +name({
          name: 'name here',
          surname: 'surname',
          profession: 'graphic designer'
        })
        +article({title: 'profile', icon: 'profile'})
          p
            |Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
            |Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus
            |et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis,
            |ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
            |Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo,
            |rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu <b>pede
            |mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi.
            |Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae,
            |eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus.
            |Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. </b>
        +article({title: 'contact', icon: 'contact'})
          +contact({title: 'adress', value: 'Main Street, City.'})
          +contact({title: 'e-mail', type: 'email', value: 'contact@domain.com'})
          +contact({title: 'phone', type: 'tel', value: '555-555-555'})
          +contact({title: 'website', type: 'site', value: 'http://www.yourweb.com'})
        +article({title: 'skills', icon: 'skills'})
          +skill({title: 'creative', value: 9})
          +skill({title: 'teamwork', value: 11})
          +skill({title: 'innovate', value: 6})
          +skill({title: 'communication', value: 11})
      include blocks/layout/layout__right-column
        +article({title: 'education', icon: 'education'})
          +experience('master degree', 'Feb 2011 - Jun 2014', 'university name')
            p
              | Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
              | Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus
              | et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis,
              | ultricies nec, pellentesque.
          +experience('master degree', 'Feb 2011 - Jun 2014', 'university name')
            p
              | Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
              | Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus
              | et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis,
              | ultricies nec, pellentesque.
          +experience('master degree', 'Feb 2011 - Jun 2014', 'university name')
            p
              | Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
              | Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus
              | et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis,
              | ultricies nec, pellentesque.
          +experience('master degree', 'Feb 2011 - Jun 2014', 'university name')
            p
              | Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
              | Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus
              | et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis,
              | ultricies nec, pellentesque.
        +article({title: 'experience', icon: 'experience'})
          +experience('company name', 'Feb 2011 - Jun 2014', 'your job here')
            p
              | Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
              | Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus
              | et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis,
              | ultricies nec, pellentesque.
          +experience('company name', 'Feb 2011 - Jun 2014', 'your job here')
            p
              | Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
              | Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus
              | et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis,
              | ultricies nec, pellentesque.
          +experience('company name', 'Feb 2011 - Jun 2014', 'your job here')
            p
              | Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
              | Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus
              | et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis,
              | ultricies nec, pellentesque.
        +article({title: 'software', icon: 'software'})
          +software('photoshop', 90)
          +software('dreamweaver', 80)
          +software('illustrator', 70)
          +software('after effects', 60)
          +software('indesign', 55)
          +software('html&css3', 90)