.skill
  margin-top 4.4%
  text-align center

.skill:first-child
  margin-top: 5.5%

.skill__type
  text-transform uppercase
  font-size 1.78rem

.skill__level
  max-width 366px
  margin 0 auto
  margin-top 0.9%

.skill__level-item
  position relative
  display inline-block
  width 5.26%
  border-radius 50%
  margin 1.51%
  margin-bottom 0

.skill__level-item:before
  content ""
  display block
  padding-top 100%

.skill__level-item_enable
  background-color #3d6cb0

.skill__level-item_disable
  background-color #e6e6e6