//-
  options.title - заголовок скила
  options.value - значение от 0 до 12

mixin skill(options)
  -
    if (!options) options = {}
    
    options.value = + options.value;
    if (isNaN(options.value)) options.value = 0;
    if (options.value < 0) options.value = 0;
    if (options.value > 12) options.value = 12;
    var i = 0;

  .skill
    .skill__title= options.title || ''
    .skill__level
      while i < 12
        .skill__level-item(class= i++ < options.value ? 'skill__level-item_enable' : 'skill__level-item_disable')
