.skill
  margin-top 4.4%
  text-align center
  display flex
  flex-direction column
  align-items stretch

  &:first-child
    margin-top: 5.5%

  &__title
    text-transform uppercase
    font-size 1.78rem
    overflow hidden
    text-overflow ellipsis

  &__level
    max-width 366px
    width 100%
    margin 0 auto
    margin-top 0.9%

  &__level-item
    position relative
    display inline-block
    width 5.26%
    border-radius 50%
    margin 1.51%
    margin-bottom 0

  &__level-item:before
    content ""
    display block
    padding-top 100%

  &__level-item_enable
    background-color main_color

  &__level-item_disable
    background-color disable_color