//-
  options.title - заголовок
  options.value - значение от 0 до 100

mixin software(options)
  -
    if (!options) options = {}
    
    options.value = + options.value;
    if (isNaN(options.value)) options.value = 0;
    if (options.value < 0) options.value = 0;
    if (options.value > 100) options.value = 100;

  .software
    span.software__title= options.title || ''
    .software__value-frame
      .software__value(style= 'width: ' + options.value + '%;')