.software
  margin-top 1%
  text-align center
  margin-top 3.5%


@media screen and (min-width 695px) and (max-width 800px)
  .software
    width 45%
    text-align left
  .software:nth-child(2n+1)
    float left
  .software:nth-child(2n)
    float right
  .software:nth-child(-n+2)
    margin-top 1%

@media screen and (min-width 1220px)
  .software
    width 45%
    text-align left
  .software:nth-child(2n+1)
    float left
  .software:nth-child(2n)
    float right
  .software:nth-child(-n+2)
    margin-top 1%

.software__type
  text-transform uppercase
  font-size 1.8rem

.software__value-frame
  background-color disable_color
  margin-top 4.3%

.software__value
  height 2.5%
  background-color main_color