.article
  margin-top: 10.4%

.article:first-child
  margin-top: 0

.article__title
  vertical-align middle
  background linear-gradient(to bottom, #ffffff 45%, #3d6cb0 45%, #3d6cb0 52%, #ffffff 52%)

.article__icon-frame
  position relative
  float left
  border 1.5px solid #3d6cb0
  border-radius 50%
  background-color white
  width 4.95rem

.article__icon-frame:before
  content ""
  display block
  padding-top 100%

.article__icon-background
  position absolute
  top 0
  left 0
  background-color #3d6cb0
  border-radius 50%
  width 92.4%
  margin 3.8%

.article__icon-background:before
  content ""
  display block
  padding-top 100%

.article__icon
  position absolute
  top 0
  bottom 0
  left 0
  right 0
  margin 15%
  background-image url("../../img/icon.png")
  background-repeat no-repeat
  background-size 330%

.article__title-text
  font-family MyriadProBold
  font-size 2.8rem
  line-height 4.9rem
  text-transform uppercase
  padding-left 3%
  padding-right 3%
  color #3d6cb0
  background-color white

.article__content
  margin-top 3%

//**** Костыли ****//

.layout__left-column .article
  padding-right 4%

.layout__left-column .article:nth-child(4)
  padding-top 1%

.layout__right-column .article
  margin-top 8.3%

.layout__right-column .article:first-child
  margin-top 0

.layout__right-column .article:nth-child(3) .article__content
  padding-left 1%

//**** Icons ****//

.article__icon_profile
  background-position 1% 4%

.article__icon_contact
  background-position 50% 96%

.article__icon_skills
  background-position 99% 96%

.article__icon_education
  background-position 99% 4%

.article__icon_experience
  background-position 1% 96%

.article__icon_software
  background-position 50% 4%