.article
  margin-top: 10.4%

  &:first-child
    margin-top: 0

  &__title
    display flex
    align-items center
    background linear-gradient(to bottom, #ffffff 42.5%, main_color 42.5%, main_color 57.5%, #ffffff 57.5%)

  &__icon-frame-background
    background-color white
    float left

  &__icon-frame
    position relative
    float left
    border 1.5px solid main_color
    border-radius 50%
    background-color white
    width 4.95rem

    &:before
      content ""
      display block
      padding-top 100%

  &__icon-background
    position absolute
    top 0
    left 0
    background-color main_color
    border-radius 50%
    width 92.4%
    margin 3.8%

    &:before
      content ""
      display block
      padding-top 100%

  &__icon
    position absolute
    top 0
    bottom 0
    left 0
    right 0
    margin 15%
    background-image url("../../img/icon.png")
    background-repeat no-repeat
    background-size 330%

    //**** Icons ****//

    &_profile
      background-position 1% 4%

    &_contact
      background-position 50% 96%

    &_skills
      background-position 99% 96%

    &_education
      background-position 99% 4%

    &_experience
      background-position 1% 96%

    &_software
      background-position 50% 4%

  &__title-text
    overflow hidden
    text-overflow ellipsis
    white-space nowrap
    font-family MyriadProBold
    font-size 2.8rem
    text-transform uppercase
    padding-left 3%
    padding-right 3%
    color main_color
    background-color white

  &__content
    margin-top 3%
    
//**** Костыли ****//

.layout
  &__left-column
    .article
      padding-right 4%

      &:nth-child(4)
        padding-top 1%

  &__right-column
    .article
      margin-top 8.3%

      &:first-child
        margin-top 0

      &:nth-child(3) .article__content
        padding-left 1%