.contact
  margin-top 7%

.contact__type
  display inline-block
  min-width 31%
  text-transform uppercase
  font-size 1.4rem
  color #3d6cb0
  font-family MyriadProBold

.contact__value
  display inline-block
  font-size 1.4rem