.contact
  margin-top 7%

.contact__type
  display inline-block
  min-width 31%
  text-transform uppercase
  font-size 1.4rem
  color main_color
  font-family MyriadProBold

.contact__value
  display inline-block
  font-size 1.4rem