mixin experience(company, date, specialty)
  .experience
    .experience__marker
    .experience__title
      span.experience__company #{company}
      span.experience__date // #{date}
      span.experience__specialty #{specialty}
      .experience__content
        block