.experience
  position relative
  margin-top 1.7%

.experience:first-child
  margin-top 6.4%

.experience__marker
  position absolute
  top 0
  left 0
  margin-left 1.85%
  margin-top 0.54rem
  max-width 5%
  width 1.35rem
  border-radius 50%
  background-color black

.experience__marker:before
  content ""
  display block
  padding-top 100%

.experience__title
  margin-left 8.3%

.experience__content
  margin-top 1%

.experience__company
.experience__date
.experience__specialty
  display inline-block
  font-size 1.75rem
  line-height 2.3rem
  margin-right 3%

.experience__company
.experience__specialty
  text-transform uppercase

.experience__company
  font-family MyriadProBold
  color #3d6cb0