mixin experience(profession, date, organization)
  .experience
    .experience__marker
    .experience__title
      span.experience__profession #{profession}
      span.experience__date // #{date}
      span.experience__organization #{organization}
      .experience__content
        block