.layout
  &__center-aligner
    margin 0 auto
    max-width 1650px
    min-width 400px
    position relative

  &__left-column
  &__right-column
    float none
    width 100%
    padding 25px 4.6%
    padding-left 4.9%
    margin 0

@media screen and (min-width: 920px)
  .layout
    &__left-column
      float left
      width 44.4%

    &__right-column
      float right
      width 55.6%
      margin 0
      padding-left 0